<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orlinskas.weatherwidget">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.orlinskas.weatherwidget.ApplicationContext"
        android:allowBackup="true"
        android:icon="@drawable/logo_primary"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_primary"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />
        <uses-library
            android:name="android.test.mock"
            android:required="false" />

        <activity
            android:name=".ui.main.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.other.WidgetCreatorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.other.CountryListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.other.CityListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.other.HelpActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.other.MessageToAuthorActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.home.ConfigurationWidgetActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_CONFIGURE">
                </action>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ui.main.home.HomeWidget"
            android:icon="@drawable/logo_primary"
            android:label="Weather">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE">
                </action>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata">
            </meta-data>
        </receiver>

        <receiver
            android:name=".UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>